KSP_linux_client
KSP_linux_server
*.userprefs
client/bin
comms/bin
server/bin
utils/bin
client/obj
comms/obj
server/obj
utils/obj
lib/Assembly-CSharp.dll
lib/UnityEngine.dll
client/persistent_newgameblank.sfs
release.tar.gz
release.zip
notes
stats
test.sh
